 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}


/*========= body of login page ========= */

#Login-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   /* background: url('images/ingm.jpg');*/
    background-position: center;
    background-size: cover;
    
}
.Login-section{
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 30px;
    width: 500px;
    border-radius: 20px;

   
}
section h1{
    font-size: 30px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

#Retour i{
  position: fixed;
  margin-left: 1px;
  margin-top: -10%;
}


.input-id .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-id input {
    width: 100%;
    margin-left: 5%;
    padding-right: 45px; /* espace pour l'icône */
    box-sizing: border-box;
}

.input-id i {
    position: absolute;
    right: 150px;
    margin-right: -5%;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.5);
}


.input-mdp i {
    position: absolute;
    top: 25px;
    right: 47px;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.2);
    width:52px;
}
    
    
.input-id input, .input-mdp input{
    width:100%;
    padding:10px;
    border-radius: 25px;
    outline: none;
    background: transparent;
    border:2px solid rgba(255, 255, 255, 0.2);
    color:white;
    padding-right: 60px;
    padding-left: 20px;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.5)
    

}
.input-mdp{
    width: 100%;
    margin-left: 5%;
    position: relative;
    margin-bottom: 20px;
}
.mdp-forget{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    font-size:15px;
}
.mdp-forget a{
    color: white;
    font-weight: bold;
    transition: 0.5s;
}
.mdp-forget a:hover{
    color:#095ae7;
    text-decoration: underline;}

#Login-button{
   width:100%;
   padding:10px;
   border-radius: 25px;
   background-color:rgba(255, 255, 255, 0.2);
   color:white;
   font-size: 16px ;
   background:transparent;
   outline:none;
   border:2px solid rgba(255, 255, 255, 0.2);
   cursor:pointer;
}
#Login-button:hover{
    background-color: rgba(255, 255, 255, 0.984);
    color:#090909;
    font-weight: bold;
}

.new-compte {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 25%;
    margin-top: 20px;
    color:#f0f1f3;
}
.new-compte p{
  text-align: center;
  margin-left: -10%;
  font-size: 20px;
}

.new-compte a{
    color: #FFF;
    font-weight: bold;
    transition: 0.5s;
}
.new-compte a:hover{
    color:#095ae7;
    text-decoration: underline;
}

#error-username, #error-password {
    color: red;
    font-size: 0.8em;
    margin-top: 0.2px;
    margin-left: 5%;
    display: block;
}



/* ===== Page d’inscription ===== */

#Inscription-body{
    display: flex;
    justify-content: center;
    align-items: top;
    height: 160vh;
    /*background: url('images/ingm.jpg');*/
    background-position: center;
    background-size: 250vh;
}

.Inscription-section{
    position: absolute;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 30px;
    height: 150%;
    width: 480px;
    border-radius: 20px;
    color: white;
}

H1{
    text-align: center;
    margin-bottom: 7%;
}
img {
    position: fixed;
    display: block;
    margin-left:390px;
    margin-top: -70px;
    width: 50px;
    height: 50px;
}

.case > .input-nom ,.input-prenom,.date-de-naissance,.adress,.lieu-de-residance,.matricule,.niveau,.departement,.specialité,.input-email,.input-id,.input-mdp,.input-mdp2{
    position: relative; 
    width: 100%;
    margin-bottom:15px;
}
.case > .input-nom input ,.input-prenom input,.date-de-naissance input,.adress input,.matricule input,.input-email input,.input-id input,.input-mdp input,.input-mdp2 input{
    width:90%;
    height:40px;
    margin-top:5px;
    border-radius: 25px;
    outline: none;
    background: transparent;
    border:2px solid rgba(255, 255, 255, 0.2);
    color:white;
    padding-right: 60px;
    padding-left: 20px;
}
#Genre-complet{
    width : 80%;
    height:40px;    
    border :2px solid rgba(255, 255, 255, 0.2);
    background :transparent;
    outline: none;
    backdrop-filter: blur(20px);
    border-radius: 25px;
    margin-top:5px;
    margin-bottom : 15px;
    color :white;
    padding-left :30px;
}
    
.case > .input-nom i,.input-prenom i,.date-de-naissance i,.adress i,.matricule i,.input-email i,.input-id i{
position: absolute;
    top:55%;
    right:50px;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    width:45px;
}
.case > .input-mdp i,.input-mdp2 i{
    position: absolute;
    top:35%;
    right: 47px;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    width:52px;
}
#gender{
    position: absolute;
    right: 150px; ;
    top: 20.7%;
    transform: translateY(-50%);
}

.case > .lieu-de-residance select,.niveau select,.departement select,.specialité select{
    width:80%;
    height:40px;
    margin-top:5px;
    border-radius: 25px;
    outline: none;
    background: transparent;
    border:2px solid rgba(255, 255, 255, 0.2);
    color:white;
    padding-left: 30px;
    padding-right: 10%;
}

.case > .lieu-de-residance i,.niveau i,.departement i,.specialité i{
    position:absolute;
    top:55%;
    right: 110px;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    width:45px;

}

.conditions {
    margin-top: 7%;
    text-align: center;
}

#Inscription-btn{
    justify-content: center;
    height: 3%;
    width: 30%;
    border-radius: 50px;
    outline: none;
    border: 2px solid rgba(255, 255, 255,0.3);
}
.btn-register{
    
    margin-top: 7%;
    margin-left: 35%;
}

.already-account{
     margin-top: 7%;
    text-align: center;
}

.conditions a{
    color:white;
    font-weight: bold;
    font-size: 17px;
    transition: 0.5s;
}
.already-account a{
    color:white;
    font-weight: bold;
    font-size: 17px;
    transition: 0.5s;
}
.conditions a:hover,.already-account a:hover{
    color:blue
}

/* ======== FIn ========= */

